```
# Python
__pycache__/
*.pyc
haihu_example/
haihu/
server/__pycache__/
server/ai_adapters/__pycache__/
server/data_ingestion/__pycache__/
tests/__pycache__/
server/data_ingestion/analysis_results.json
.DS_Store

# Resolving git slowness issues
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.env
.DS_Store

node_modules/
frontend/node_modules/
frontend/dist/
dist/
.env
